body {
  font-family: 'Press Start 2P', cursive;
  background-color: #F7E8ED;
  color: #333;
}
h1 {
  font-size: 32px;
  color: #FF69B4;
  text-align: center;
  margin-bottom: 20px;
}
input, button {
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
}
input[type="text"] {
  background-color: #fff;
  border: 2px solid #FF69B4;
  padding: 8px;
  border-radius: 5px;
  color: #333;
}
button {
  background-color: #98DDCA;
  border: 2px solid #FF69B4;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  transition: all 0.3s;
  position: relative;
}
button:hover {
  background-color: #82C8B3;
  top: -2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
#game {
  text-align: center;
}
#bulbasaurName {
  font-size: 24px;
  color: #FF69B4;
  margin-bottom: 10px;
}
#message {
  font-size: 18px;
  color: #333;
}
.stat-bar {
  width: 100%;
  height: 20px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
.stat-bar .bar {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 5px;
}
.stat-bar .label {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.status-bar {
height: 20px;
border: 1px solid #FF69B4;
position: relative;
overflow: hidden;
}

.status-bar .bar {
height: 100%;
position: absolute;
left: 0;
top: 0;
border-radius: 5px;
}

#hungerBar {
background-image: linear-gradient(to right, #e4e4e4, #bebebe);
}

#happinessBar {
background-image: linear-gradient(to right, #e4e4e4, #bebebe);
}

#healthBar {
background-image: linear-gradient(to right, #727272, #bfbfbf);
}